In [ ]:
Crud
Delete
Read
update

In [ ]:
#instalar o mySQL
!apt-get install mysql-server > /dev/null

In [ ]:
#iniciar o Serviço
!service mysql start

 * Starting MySQL database server mysqld
No directory, logging in with HOME=/
   ...done.

In [ ]:
#alterar a senha do root
!mysql -e "ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '1234'"

In [ ]:
!mysql -h localhost -u root -p

In [ ]:
#show databases; mostra todas as base de dados
#create database aula; esse comando serve para criar uma base de dados
#use aula; esse comando serve para conectar ao banco de dados
#show tables; esse comando mostra todas as tabelas do banco de dados
'''
CREATE TABLE usuarios(id_user INT NOT NULL AUTO_INCREMENT,
                      email VARCHAR(100) NULL,
                      senha VARCHAR(45) NULL,
                      nome VARCHAR(200)  NULL,
                      idade INT(2)       NULL,
                      PRIMARY KEY(id_user));
'''

'\nCREATE TABLE usuarios(id_user INT NOT NULL AUTO_INCREMENT,\n                      email VARCHAR(100) NULL,\n                      senha VARCHAR(45) NULL,\n                      nome VARCHAR(200)  NULL,\n                      idade INT(2)       NULL,\n                      PRIMARY KEY(id_user));\n'

In [ ]:
#instalaçao do pacote de conexao ao mysql
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.30-cp37-cp37m-manylinux1_x86_64.whl (25.4 MB)
     |████████████████████████████████| 25.4 MB 1.5 MB/s
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf<=3.20.1,>=3.11.0->mysql-connector-python) (1.15.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.30

In [ ]:
#importaçao do pacote
import mysql.connector
from mysql.connector import Error

In [ ]:
#Criar o objeto de conexao
conexao = mysql.connector.connect(host='localhost',database='aula',user ='root', password = '1234')

In [ ]:
#testar se o banco esta conectado
if conexao.is_connected():
  db_info = conexao.get_server_info()
  print("conectado ao servidor mysql versão" , db_info)
  cursor = conexao.cursor()

conectado ao servidor mysql versão 5.7.39-0ubuntu0.18.04.2

In [ ]:
#testa a conexao se estiver ativa, desconecta do banco
if conexao.is_connected():
  cursor.close()
  conexao.close()
  print("conexao mysql foi encerrada")

conexao mysql foi encerrada

In [ ]:
#create(insert)
email = "jonathancos3@hotmail.com"
senha = "1234"
nome = "Jonathan da Costa Ivale"
idade = "22"
comando = f"INSERT INTO usuarios (email,senha,nome,idade) VALUES('{email}','{senha}','{nome}',{idade})"
cursor.execute(comando)
conexao.commit()

In [ ]:
#create(insert)
#segundo jeito de inserir
email = "jonathancos0@hotmail.com"
senha = "1234"
nome = "Jonathan da C Ivale"
idade = "20"
comando = "INSERT INTO usuarios (email,senha,nome,idade) VALUES('{}','{}','{}',{})".format(email,senha,nome,idade)
cursor.execute(comando)
conexao.commit()

In [ ]:
#select
comando = "SELECT * FROM usuarios"
cursor.execute(comando)
linhas = cursor.fetchall()
for linha in linhas:
  print(linha)

(1, 'jonathancos3@hotmail.com', '1234', 'Jonathan da Costa Ivale', 22)
(2, 'jonathancos0@hotmail.com', '1234', 'Jonathan da C Ivale', 20)

In [ ]:
#select de apenas 1 registro
id = 1
comando = "SELECT * FROM usuarios WHERE id_user = {} ".format(id)
cursor.execute(comando)
linha = cursor.fetchone()
print(linha)

(1, 'jonathancos3@hotmail.com', '1234', ' jonathan costa ivale', 22)

In [ ]:
#update
email = "jonathancos3@hotmail.com"
nome =  " jonathan costa ivale"
id = 1
comando = "UPDATE usuarios SET email = '{}',nome = '{}' Where id_user = {}".format(email,nome,id)
cursor.execute(comando)
conexao.commit()

In [ ]:
#Delete
id = 2
comando = "DELETE FROM usuarios where id_user = {}".format(id)
cursor.execute(comando)
conexao.commit

In [ ]:
class Crud(object):
  __host = 'localhost'
  __database = 'aula'
  __user = "root"
  __password = "1234"
  "inclusão do host,database,user,password"

  def __init__(self):
    '''Método construtor'''
  def conectarBanco(self):
    '''Metodo de conexão do banco de dados'''
    try:
      self.conexao = mysql.connector.connect(host= self.__host, database=self.__database, user=self.__user, password=self.__password)
    except Error as e:
      print("Problemas na conexão com o banco de dados ", e)
    else:
      if self.conexao.is_connected():
        db_info = self.conexao.get_server_info()
        print("Conectado ao servidor MySQL Versão ", db_info)
        self.cursor = self.conexao.cursor()
  def teste(self):
    if hasattr(self,'conexao'):
      print("Existe conexao")
  def DesconectarBanco(self):
    if self.conexao.is_connected():
      self.cursor.close()
      self.conexao.close()
      print("conexao mysql foi encerrada")
      "DESCONECTAR O BANCO"
  def inserir(self,email,senha,nome,idade):
    comando = f"INSERT INTO usuarios (email,senha,nome,idade) VALUES('{email}','{senha}','{nome}',{idade})"
    self.cursor.execute(comando)
    self.conexao.commit()
    "INSERIR EMAIL,SENHA,NOME,IDADE"
  def selectudo (self):
    comando = "SELECT * FROM usuarios"
    self.cursor.execute(comando)
    linhas = self.cursor.fetchall()
    return linhas
  def selecUm(self,id):
    comando = "SELECT * FROM usuarios WHERE id_user = {} ".format(id)
    self.cursor.execute(comando)
    linha = self.cursor.fetchone()
    return linha
  def alterar(self,email,senha,nome,idade):
    comando = "SELECT * FROM usuarios WHERE email = '{}' and senha = '{}' and nome = '{}' and idade = {}".format(email,senha,nome,idade)
    print(comando)
    self.cursor.execute(comando)
    linhas = self.cursor.fetchall()
    print(linhas[0][0])
    if linhas[0][0] > 1:
      useremail = input("Digite seu email: ")
      usersenha = input("Digite sua senha: ")
      usernome = input("Digite seu nome: ")
      useridade = input("Digite sua idade: ")
      comando = "UPDATE usuarios SET email = '{}', senha = '{}', nome = '{}' , idade = '{}' WHERE id_user = {}".format(useremail,usersenha,usernome,useridade,linhas[0][0])
      self.cursor.execute(comando)
      self.conexao.commit()
  def deletar(self,id):
    comando = "DELETE FROM usuarios where id_user = {}".format(id)
    self.cursor.execute(comando)
    self.conexao.commit()

In [ ]:
db = Crud()

In [ ]:
db.conectarBanco()

Conectado ao servidor MySQL Versão  5.7.39-0ubuntu0.18.04.2

In [ ]:
db.DesconectarBanco()

In [ ]:
db.inserir("jonathan@gmail.com","bjp123","jonathan",50)

In [ ]:
db.alterar("jonathan@gmail.com","bjp123","jonathan",50)

SELECT * FROM usuarios WHERE email = 'jonathan@gmail.com' and senha = 'bjp123' and nome = 'jonathan' and idade = 50
3
Digite seu email: xablau@gmail.com
Digite sua senha: 1234
Digite seu nome: Xablau
Digite sua idade: 50

In [ ]:
selectudo = db.selectudo()
print(teste)

[(2, 'jonathancos0@hotmail.com', '1234', 'Jonathan da C Ivale', 20), (3, 'xablau@gmail.com', '1234', 'Xablau', 50), (4, 'jonathan@gmail.com', 'bjp123', 'jonathan', 50), (5, 'jonathan@gmail.com', 'bjp123', 'jonathan', 50)]

In [ ]:
selecUm = db.selecUm(2)
print(teste2)

(2, 'jonathancos0@hotmail.com', '1234', 'Jonathan da C Ivale', 20)

In [ ]:
db.deletar(1)